html {
    background-image:  url(cheese.jpg);
    background-repeat: repeat;
}
header {font-family: Garamond, serif;
    font-weight: bold;
    background-color: lightyellow;
    text-align: center;
}
p {
  magin: 100px;
  background-color: white;
}
img {
    margin: 100px;
    max-width: 50%;
    max-height: 50%;
    align-items: center;
}
