html {
    background-image:  url(cheese.jpg);
    background-repeat: repeat;
}
header {font-family: Garamond, serif;
    font-weight: bold;
    background-color: lightyellow;
    text-align: center;
}
