html {
    background-image:  url(cheese.jpg);
    background-repeat: repeat;
}
header {font-family: Garamond, serif;
    font-weight: bold;
    background-color: lightyellow;
    text-align: center;
}
p {
  margin: 100px 150px 100px 80px;
  background-color: white;
}
img {
    display: block;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
}
script {
    display: block;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
}
